    <!-- FOOTER -->

    <footer class="footer">
        <div class="container">
           
           <!-- FIRST ROW / HEADERS-->
           
            <div class="row justify-content-center footerheaders">
                <div class="col-2">
                    <p>Contact Us  11111111111111111</p>
                </div>

                <div class="col-2">
                    <p >Site Map</p>
                </div>

                <div class="col-2">
                    <p >Main Menu</p>
                </div>

                <div class="col-2">
                    <p>Text</p>
                </div>
            </div>

            <!-- SECOND ROW-->

            <div class="row justify-content-center">
                <div class="col-2">
                    <p>Top Grade Seafood Incorporated</p>
                </div>

                <div class="col-2">
                    <p>Site Map</p>
                </div>

                <div class="col-2">
                    <p>Main Menu</p>
                </div>

                <div class="col-2">
                    <p>Text</p>
                </div>
            </div>
            
            <!-- THIRD ROW-->

            <div class="row justify-content-center">
                <div class="col-2">
                    <p>4299 Paul Gumby Rd.<br>Marion Station, MD 21838</p>
                </div>

                <div class="col-2">
                    <p>Site Map</p>
                </div>

                <div class="col-2">
                    <p>Main Menu</p>
                </div>

                <div class="col-2">
                    <p>Text</p>
                </div>
            </div>

            <!-- FOURTH ROW -->

            <div class="row justify-content-center">
                <div class="col-2">
                    <p>Phone: 123-456-7890</p>
                </div>

                <div class="col-2">
                    <p>Site Map</p>
                </div>

                <div class="col-2">
                    <p>Main Menu</p>
                </div>

                <div class="col-2">
                    <p>Text</p>
                </div>
            </div>

                     

            <div class="row justify-content-center">
                <p> &reg; 2018 Top Grade Seafood Incorporated. All rights reserved.</p>
            </div>
        </div>
    </footer>