.header {
    text-transform: uppercase;
    text-align: center;
    /* color: #043973; (Pettit Blue)*/
    color: #0336b6; /*(photoshop)*/
    font-family: 'Universal Serif';
    font-style: normal;
    margin-top: 0em;
    font-size: 4em;
    font-weight: 700;
    white-space: nowrap;
    text-shadow: 2px 4px 5px #d3d3d3
}

.navbartext {
    font-size: 1.2em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #0336b6;
}

footer {
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    /* height: 15em; */
    background-color: #f2f2f2;
}

p.footer {
    color: aqua;
}

.footerheaders {
    text-transform: uppercase;
    font-weight: 600;
}

a.fas {
    color: #0336b6;
    margin-left: 45em;
}

.verticalcenter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

#prodPrice {
    font-size: 1.1em;
    font-weight: bold;
    color: #918f8f;
}

#quantity {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: .01em;
    height: 2.375em;
    width: 8em;
}

#addToCart {
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    color: #4d4d4d;
    height: 2.375em;
    width: 6.736em;
}

/* ~~~~~~~~~~DROPDOWN MENU~~~~~~~~~~ */
#dropdownMenu2 {
    background-color: #ffffff;
    color: #4d4d4d;
}

.dropdown-menu {
    text-transform: capitalize;
}

/* Removes caret from dropdown menu button */
.dropdown-toggle::after{
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: inherit;
  }

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border: none;
}

.dropdown-menu {
    background-color: #fff;
    opacity: .9;
    border: none;
    margin-top: .6em;
    border-radius: 0rem 0rem .25rem .25rem;
}